@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@font-face {
  font-family: 'Birds of Paradise';
  src: url('./fonts/Birds of Paradise.ttf') format('truetype');
}

:root {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  min-height: 100%;
}

p {
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1rem 0 0.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

h1,
.heading-1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.802rem;
}

h2,
.heading-2 {
  font-size: 1.602rem;
}

h3,
.heading-3 {
  font-size: 1.424rem;
}

h4,
.heading-4 {
  font-size: 1.266rem;
}

h5,
.heading-5 {
  font-size: 1.125rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
}

a:focus,
a:hover {
  text-decoration: underline;
}

ul,
ol,
dl {
  margin-bottom: 1.5em;
  margin-left: 0.5rem;
}

.subtitle {
  margin: 0;
}

.pdf-footer {
  margin: auto;
  max-width: 3in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: calc(100% + 2rem);
}

.pdf-footer > * {
  margin: 0;
  padding: 0;
}

.pdf-footer .logo {
  font-family: 'Birds of Paradise';
  font-size: 2rem;
  color: #001659;
  line-height: 1.1;
}
